<div id="AccountSummaryPage" class="row">
    <div class="modal-content">
        <div class="modal-header">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <select id="ddlConsumer" class="form-control"></select>
            </div>
            <div class="col-md-1">
                <div class="input-group">
                    <button class="btn btn-outline-success" id="btnShowConsumptionChart" onclick="ShowConsumptionChart()">
                        <i class="fa fa-chevron-circle-down"></i>
                        Show Units Consumption
                    </button>
                </div>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-1">
                <button class="btn btn-outline-info" type="button" id="btnBackToHome" onclick="BackToHome()">
                    <i class="fa fa-backward"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="chartContainer"></div>
<script type="text/javascript">

    var loginID = 0;
    var isAdmin = false;

    $(document).ready(function () {

        loginID = @ViewBag.LoginID;
        isAdmin = @(ViewBag.IsAdmin.ToString().ToLower());
        LoadConsumers();
        $('#chartContainer').highcharts('');
        $('#chartContainer').empty();
        if (isAdmin) {
            $('#feedback-form').hide();
        }
    });

    function ShowConsumptionChart() {
        LoadChart();
    }

    function LoadConsumers() {
        var id = isAdmin ? 0 : loginID;
        if (!isAdmin && id <= 0) {
            showNotification('Please select a valid consumer !!!', 'error', '');
            return false;
        }

        $.post('/ElectricityBoardApi/api/LoginApi/LoadConsumer/?loginID=' + id, function (jData) {
            var strHtml = '<option value="0">-- Select --</option>';
            if (jData && jData.length > 0) {
                $.each(jData, function (key, item) {
                    strHtml += '<option value="' + item.ID + '">' + item.ConsumerNo + '</option>';
                });
                $('#ddlConsumer').html(strHtml);
            }
        });
    }

    function LoadChart() {
        showNotification('Loading data.....', 'info', '', true);
        $.post('/ElectricityBoardApi/api/LoginApi/LoadConsumptionChart/?consumerID=' + $('#ddlConsumer').val(), function (jData) {
            hideNotification();
            if (jData) {
                if (jData != null && jData.length > 0) {
                    var categoryArray = [];
                    var dataArray = [];
                    $.each(jData, function (i, d) { categoryArray.push(d.label); dataArray.push(parseInt(d.y)); });


                    var title = {
                        text: 'Yearly Average Consumption'
                    };
                    var subtitle = {
                        text: ''
                    };
                    var xAxis = {
                        categories: categoryArray
                    };
                    var yAxis = {
                        title: {
                            text: 'Units'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    };

                    var tooltip = {
                        valueSuffix: ''
                    }
                    var legend = {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    };
                    var series = [{
                        name: 'Units',
                        data: dataArray
                    }
                    ];

                    var json = {};
                    json.title = title;
                    json.subtitle = subtitle;
                    json.xAxis = xAxis;
                    json.yAxis = yAxis;
                    json.tooltip = tooltip;
                    json.legend = legend;
                    json.series = series;

                    $('#chartContainer').highcharts(json);

                } else {
                    $('#chartContainer').highcharts('');
                    $('#chartContainer').empty();
                    showNotification('No records found.', 'warning', '');
                }
            }
        });

    }

    function BackToHome() {
        if (!isAdmin) {
            window.location.href = "/ElectricityBoardApplication/Login/HomePage/?loginID=" + loginID + "&IsAdmin=" + isAdmin;
        } else {
            window.location.href = "/ElectricityBoardApplication/Login/AdminHomePage/?loginID=" + loginID + "&IsAdmin=" + isAdmin;
        }
    }
</script>