<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <h2>Support Queries</h2>
        <select class="form-control" id="ddlIssueFilter">
            <option value="0">Un-Resolved</option>
            <option value="1">Resolved</option>
        </select>
        <hr />
        <div id="consumer-queries">

        </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-outline-info" type="button" id="btnBackToHome" onclick="BackToHome()">
            <i class="fa fa-backward"></i>
        </button>
    </div>
</div>

<script>

    var loginID = 0;
    var isAdmin = false;

    $(() => {
        $('#feedback-form').hide();
        loginID = @ViewBag.LoginID;
        isAdmin = @(ViewBag.IsAdmin.ToString().ToLower());
        LoadSupportQueries(0);
    });

    function LoadSupportQueries(val) {
        $('#consumer-queries').html('');
        $.get('/ElectricityBoardApi/api/LoginApi/LoadCustomerSupportIssues/?isResolved=' + val, function (jData) {
            if (jData && jData.length > 0) {
                var strHtml = '';
                $.each(jData, function (key, item) {
                    strHtml += '<div id="' + item.ID + '" class ="modal-body table table-bordered col-md-9" style = "border-color:lightgreen;">';
                    strHtml += `<p id="Username"> Consumer Name: ` + item.ConsumerName + `</p>
                                <p> Raised On: ` + item.RaisedDate + `</p>
                                <p id="content"> Concern: `+ item.Concern + `</p>`;

                    strHtml += 'Resolved Status: ';

                    if (item.IsResolved) {
                        strHtml += '<span class="fa fa-check">&nbsp;</span>'
                    } else {
                        strHtml += '<span class="fa fa-times">&nbsp;</span>';
                        strHtml += `<div class="input-group">
                                    <input class="form-control" type="text" id="response${item.ID}"placeholder="Enter Response" /> &nbsp; &nbsp;
                                    <button type="button" id="btnResponse${item.ID}" class="btn btn-sm btn-info" onclick='ResolveIssue(` + item.ID + `, "` + item.ConsumerName + `", "` + item.ConsumerEmail + `")'>Reply</button>
                                </div>`;
                    };
                    
                    strHtml += '</div>';
                });
                
                $('#consumer-queries').html(strHtml);
            }
        })
    }



    function ResolveIssue(id, name, email) {
        var response = $('#response' + id + '').val();
        $.post('/ElectricityBoardApi/api/LoginApi/ResolveCustomerSupportIssue/?ID=' + id + '&resolvedMessage=' + response + '&consumerName=' + name + '&consumerEmail=' + email, function (jData) {
            if (jData) {
                LoadSupportQueries(0);
            }
        });
    }

    function BackToHome() {
        if (!isAdmin) {
            window.location.href = "/ElectricityBoardApplication/Login/HomePage/?loginID=" + loginID + "&IsAdmin=" + isAdmin;
        } else {
            window.location.href = "/ElectricityBoardApplication/Login/AdminHomePage/?loginID=" + loginID + "&IsAdmin=" + isAdmin;
        }
    }

    $('#ddlIssueFilter').change(function () {
        var val = $('#ddlIssueFilter').val();
        LoadSupportQueries(val);
    })
</script>
