<div class="row" style="margin-top:200px;">
    <div class="col-md-4"></div>
    <div class="table table-bordered col-md-4" style="background-image:url(http://localhost/ElectricityBoardApplication/Content/Icons/ElectricityBoardAppIcon.png);">
        <div class="form-group">
            <label for="">User Name</label>
            <input type="text" autocomplete="off" class="form-control" id="txtUserName" placeholder="User Name" required autofocus/>
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" onkeypress="IfEnterKeyPressed(event);" autocomplete="off" class="form-control" id="txtPassword" placeholder="Password" required/>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-success float-right" id="btnLogin" onclick="Login()" >Login</button>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<script type="text/javascript">
    function Login() {
        var userName = $('#txtUserName').val();
        var password = $('#txtPassword').val();
        var errorExist = false;

        if (!userName || userName == '') {
            $('#txtUserName').addClass('btn-outline-danger');
            errorExist = true;
        } else {
            errorExist = false;
        }

        if (!password || password == '') {
            $('#txtPassword').addClass('btn-outline-danger');
            errorExist = true;
        } else {
            errorExist = false;
        }

        if (errorExist) {
            return false;
        } else {
            $.post('/ElectricityBoardApi/api/LoginApi/ValidateLogin/?userName=' + userName +'&password='+ password, function (jData) {
                if (jData > 0) {
                    window.location.href = "/ElectricityBoardApplication/Login/HomePage/?loginID=" + jData;
                } else {
                    alert('Invalid Username and Password.');
                }
            });
        }
    }

    $('#txtUserName').change(function (val) {
        if (val != '') {
            $('#txtUserName').removeClass('btn-outline-danger');
        }
    });

    $('#txtPassword').change(function (val) {
        if (val != '') {
            $('#txtPassword').removeClass('btn-outline-danger');
        }
    });

    function IfEnterKeyPressed(e) {
        if (e.keyCode == 13) {

            Login();
        }
    }

</script>
