<style>
    /*Profile Pic Start*/
    .picture-container {
        position: relative;
        cursor: pointer;
        text-align: center;
    }

    .picture {
        width: 56px;
        height: 56px;
        background-color: #999999;
        border: 4px solid #CCCCCC;
        color: #FFFFFF;
        border-radius: 50%;
        margin: 0px auto;
        overflow: hidden;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }

        .picture:hover {
            border-color: #2ca8ff;
        }

    .content.ct-wizard-green .picture:hover {
        border-color: #05ae0e;
    }

    .content.ct-wizard-blue .picture:hover {
        border-color: #3472f7;
    }

    .content.ct-wizard-orange .picture:hover {
        border-color: #ff9500;
    }

    .content.ct-wizard-red .picture:hover {
        border-color: #ff3b30;
    }

    .picture input[type="file"] {
        cursor: pointer;
        display: block;
        height: 100%;
        left: 0;
        opacity: 0 !important;
        position: absolute;
        top: 0;
        width: 100%;
        pointer-events:none;
    }

    .picture-src {
        width: 100%;
    }
    /*Profile Pic End*/
</style>
<div id="AccountSummaryPage" class="row">
    <div class="modal-content">
        <div class="modal-header">
            <div class="col-md-2"></div>
            <div class="col-md-3">
            </div>
            <div class="col-md-1">
                <div class="input-group">
                    <button class="btn btn-outline-success" id="btnShowConsumptionChart" onclick="AnalyseFeedback()">
                        <i class="fa fa-refresh"></i>
                        Analyse Feedback
                    </button>
                </div>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-1">
                <button class="btn btn-outline-info" type="button" id="btnBackToHome" onclick="BackToHome()">
                    <i class="fa fa-backward"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<hr />
<div id="divSentimentAnalysis"></div>

<script type="text/javascript">

    var loginID = 0;
    var isAdmin = false;

    $(() => {
        loginID = @ViewBag.LoginID;
        isAdmin = @(ViewBag.IsAdmin.ToString().ToLower());
        if (isAdmin) {
            $('#feedback-form').hide();
        }
    });
    function AnalyseFeedback() {
        showNotification('Analysing feedback .....', 'info', '', true);
        $.get('/ElectricityBoardApi/api/LoginApi/AnalyseConsumerFeedback', function (jData) {
            hideNotification();
            if (jData != null && jData.length > 0) {
                var strHtml = '';
                $.each(jData, function (key, item) {
                    strHtml += '<div id="' + item.ID + '" class ="modal-body table table-bordered col-md-9" style = "border-color:lightgreen;">';
                    strHtml += ` <div class="input-group">
                                    <div class="picture-container">
                                        <div class="picture">
                                            <img src="data:image/png;base64,${ item.ConsumerProfilePicture }" class="picture-src" id="wizardPicturePreview_"`+ item.ID +` title="">
                                            <input type="file" id="wizard-picture" class="" accept="image/jpeg">
                                        </div>                            
                                    </div>
                                    &nbsp;
                                <p id="ConsumerName"> <b> Consumer Name: </b> ` + item.ConsumerName + `</p>
                               </div>`;
                    strHtml += `<p id="Feedback"> <b> Feedback: </b>` + item.FeedBack + `</p>`;
                    var score = Math.floor(item.Sentiment * 100) / 100;

                    if (score >= 0.10 && score <= 0.50) {
                        strHtml += `<div class="w3-light-grey w3-round-xlarge">
                                        <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
                                    </div>`;
                    } else if (score > 0.50 && score <= 0.90) {
                        strHtml += `<div class="w3-light-grey w3-round-xlarge">
                                        <div class="w3-container w3-yellow w3-round-xlarge" style="width:50%">50%</div>
                                    </div>`;
                    } else if (score > 0.90) {
                        strHtml += `<div class="w3-light-grey w3-round-xlarge">
                                        <div class="w3-container w3-green w3-round-xlarge" style="width:100%">100%</div>
                                    </div>`;
                    } else {
                        strHtml += `<div class="w3-light-grey">
                                        <div class="w3-container w3-red w3-round-xlarge" style="width:0.5%">0%</div>
                                    </div>`;
                    }

                    strHtml += '</div>';
                });
                $('#divSentimentAnalysis').html(strHtml);
            }
        });
    }

    function BackToHome() {
        if (!isAdmin) {
            window.location.href = "/ElectricityBoardApplication/Login/HomePage/?loginID=" + loginID + "&IsAdmin=" + isAdmin;
        } else {
            window.location.href = "/ElectricityBoardApplication/Login/AdminHomePage/?loginID=" + loginID + "&IsAdmin=" + isAdmin;
        }
    }

</script>

