<style>
    /*Profile Pic Start*/
    .picture-container {
        position: relative;
        cursor: pointer;
        text-align: center;
    }

    .picture {
        width: 56px;
        height: 56px;
        background-color: #999999;
        border: 4px solid #CCCCCC;
        color: #FFFFFF;
        border-radius: 50%;
        margin: 0px auto;
        overflow: hidden;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }

        .picture:hover {
            border-color: #2ca8ff;
        }

    .content.ct-wizard-green .picture:hover {
        border-color: #05ae0e;
    }

    .content.ct-wizard-blue .picture:hover {
        border-color: #3472f7;
    }

    .content.ct-wizard-orange .picture:hover {
        border-color: #ff9500;
    }

    .content.ct-wizard-red .picture:hover {
        border-color: #ff3b30;
    }

    .picture input[type="file"] {
        cursor: pointer;
        display: block;
        height: 100%;
        left: 0;
        opacity: 0 !important;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .picture-src {
        width: 100%;
    }
    /*Profile Pic End*/
</style>
<div class="row">
    <div class="col-md-4"></div>
    <div id="YourFeedPage" class="col-md-4">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <p>Your Feedback.</p>
                    <button class="btn btn-outline-info" type="button" id="btnBackToHome" onclick="BackToHome()">
                        <i class="fa fa-backward"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Write your feedback</label>
                        <textarea class="form-control" id="txtFeedback" ></textarea>
                    </div>
                    <div class="form-group">
                        @*<label for="">Headline</label>*@
                        <input type="text" class="form-control" id="txtFeedbackHeadline" placeholder="Headline for your feedback" />
                    </div>
                    <hr />
                    <div class="input-group">
                        <div class="picture-container">
                            <div class="picture">
                                <img src="~/Images/img_avatar.png" class="picture-src" id="wizardPicturePreview" title="">
                                <input type="file" id="wizard-picture" class="" accept="image/jpeg">
                            </div>                            
                        </div>
                        &nbsp;
                        <input type="text" id="txtLoginUserName" class="form-control" placeholder="Your Name"  disabled/>
                    </div>
                    <p>Don't worry, you can always change this on your profile</p>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="SubmitFeedback();" class="btn btn-primary float-right">Submit</button>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<script>
    var loginID = 0;
    var isAdmin = false;

    $(() => {
        loginID = @ViewBag.LoginID;
        isAdmin = @(ViewBag.IsAdmin.ToString().ToLower());
        GetSessionLoginName();
        // Prepare the preview for profile picture
        $("#wizard-picture").change(function () {
            readURL(this);
        });
        if (isAdmin) {
            $('#feedback-form').hide();
        }
    });

    function GetSessionLoginName() {
        $.get('/ElectricityBoardApi/api/LoginApi/GetSessionLoginName', function (jData) {
            $('#txtLoginUserName').val(jData);
        });
    }

    function SubmitFeedback() {
        var feedBack = $('#txtFeedback').val();
        var headline = $('#txtFeedbackHeadline').val();
        var image = $('#wizardPicturePreview').attr('src');
        var name = $('#txtLoginUserName').val();

        var errorExists = false;

        if (!headline || headline == '') {
            $('#txtFeedbackHeadline').addClass('btn-outline-danger');
            errorExists = true;
        }

        if (!feedBack || feedBack == '') {
            $('#txtFeedback').addClass('btn-outline-danger');
            errorExists = true;
        }

        if (errorExists) {
            return false;
        } else {
            showNotification('Saving feedback .....', 'info', '', true);
            $.post('/ElectricityBoardApi/api/LoginApi/SaveFeedBack', { FeedBack: feedBack, FeedBackHeadline: headline, UserName: name, ProfilePicture: image  }, function (jData) {
                hideNotification();
                if (jData > 0) {
                    showNotification('Thanks for your feedback !!!', 'success', '');
                    BackToHome();
                } else {
                    showNotification('Record not saved successfully', 'error', '');
                }
            });
        }
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            $('#wizard-pictureHeader').html('');
            reader.onload = function (e) {
                $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function BackToHome() {
        if (!isAdmin) {
            window.location.href = "/ElectricityBoardApplication/Login/HomePage/?loginID=" + loginID + "&IsAdmin=" + isAdmin;
        } else {
            window.location.href = "/ElectricityBoardApplication/Login/AdminHomePage/?loginID=" + loginID + "&IsAdmin=" + isAdmin;
        }
    }

    @*----- EVENT DECLARATIONS -----*@

    $('#txtFeedbackHeadline').change(function () {
        var val = $('#txtFeedbackHeadline').val();
        if (val && val != '') {
            $('#txtFeedbackHeadline').removeClass('btn-outline-danger');
        }
    });

    $('#txtFeedback').change(function () {
        var val = $('#txtFeedback').val();
        if (val && val != '') {
            $('#txtFeedback').removeClass('btn-outline-danger');
        }
    });

</script>